/* COMMONS  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Itim', cursive;  
    background-color: black;
}
.white{
    color: white;
}
.green{
    color: green;
}
.margin-right5{
    margin-right: 5px;
}
.margin-left5{
    margin-left: 5px;
}

.font28{
    font-size: 28px;
    margin-bottom: 5px;
}
button{
    background: none;
    border: 0;
    font-size: 14px;
    text-transform: capitalize;
    padding: 5px;
    font-family: 'Lato', sans-serif;
}
/* FINE COMMONS  */
/* header  */
header{
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
}
header button{
    margin: 0 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.3);
    transition: all 0.3s ease-in-out;
}
/* main  */
main{
    max-width: 1480px;
    height: calc(100vh - 160px);
    overflow-y: auto;

}
.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}
.utente{
    width: calc(100% / 6);
    height: 150px;
    border: 3px solid black;
    position: relative;

}
.utente img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.utente .nome-utente{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 14px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
    padding: 2px 5px;
    text-transform: capitalize;
}
/* footer  */
footer{
    height: 80px;
    border-top: rgba(255,255,255,0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111111;
}
footer nav.lato{
    flex-flow: 1 0;
    height: 100%;
}
footer nav.centrale{
    flex-basis: 0;
    flex-grow: 8;
    height: 100%;
}
footer ul.senior{
    display: flex;
    justify-content: center;
    height: 100%;
    list-style: none;

}
footer li{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 5px;
    text-align: center;
    position: relative;
} 
footer .lato.destra{
   display: flex;
   justify-content: flex-end;
}
footer .lato .close{
    background-color: gray;
    height: 100%;
 }
 .lato .close button{
     color: red;
     width: 100%;
     height: 100%;
     padding: 0 5px;
 }
 footer .box-hidden{
     width: 160px;
     position: absolute;
     top: 0;
     left: 0;
     transform: translateY(-100%);
     background-color: #111111;
     padding: 5px 0;
     border-radius: 5px 5px 0 0;
     display: none;

 }
 .box-hidden li{
    padding: 5px 0 5px 10px;
    margin: 5px 0;
 }
 i.hidden, div.hidden{
     display: none;
 }
/* ANIMAZIONI */
button:hover{
    cursor: pointer;
}
header button:hover{
    background-color: rgba(255,255,255,0.4);
}
footer li:hover .box-hidden, footer li:active i.hidden, footer li:active div.hidden{
    display: block;
}
footer li:active i.show, footer li:active div.show{
    display: none;
}
.box-hidden li:hover{
    background-color: rgba(255,255,255,0.3);
}
.box-hidden li:active{
    background-color: rgba(255,255,255,0.3);
}

/* FINE ANIMAZIONI */